<div>
  <ul style="padding-left: 1rem">
    <li>
      <div class="col-sm-12">
        National Scholarship, 2024
      </div>
    </li>

    <li>
      <div class="col-sm-12">
        Gold Medal in the 49th Geneva's Invention Expo, 2024
      </div>
    </li>

    <li>
      <div class="col-sm-12">
        First Prize in the Ubiquitous Intelligent Sensing Technology Innovation and Application Competition, 2024
      </div>
    </li>

  </ul>
</div>