<div>
  <ul style="padding-left: 1rem">
    <li>
      <div class="col-sm-12">
        PC Member: IEEE MSN'25
      </div>
    </li>
    <li>
      <div class="col-sm-12">
        Reviewer: IEEE TMC'24
      </div>
    </li>
  </ul>
</div>